
#忽略git等版本管理的文件夹
/**/.git/
/**/.svn/
/**/.cvs/
#忽略maven的生成目录
/target/
/**/target/
#忽略gradle的生成目录
/**/build/
#忽略日志文件夹
/**/logs/
#忽略工程文件
/**/.settings/
/**/.project
/**/.classpath
*.iml
/**/.idea

#忽略临时文件
/**/tmlog*.*
/**/*tm0*.epoch